In [1]:
#dictionary -> mutable
mydict = dict()
mydict

{}

In [2]:
mydict = {}
mydict

{}

In [3]:
mydict = {1:'one', 2:'two', 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one', 2:'two', 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
mydict = {'A':'one', 'B':'two', 'C':'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:
mydict = {1:'one', 'A':'two', 3:'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [7]:
mydict.keys()

dict_keys([1, 'A', 3])

In [8]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [9]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [10]:
mydict = {1:'one', 2:'two', 'A':['dogu', 'bati', 'sirt']}
mydict

{1: 'one', 2: 'two', 'A': ['dogu', 'bati', 'sirt']}

In [11]:
mydict = {1:'one', 2:'two', 'A':{'Name':'dogu', 'Age':32}, 'B':('Bat', 'Cat', 'Hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'dogu', 'Age': 32},
 'B': ('Bat', 'Cat', 'Hat')}

In [12]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys) 
mydict3

{'d': None, 'c': None, 'b': None, 'a': None}

In [14]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys, value)
mydict3

{'d': 10, 'c': 10, 'b': 10, 'a': 10}

In [15]:
keys = {'a', 'b', 'c', 'd'}
value = [10, 20, 30]
mydict3 = dict.fromkeys(keys, value)
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30]}

In [16]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

In [17]:
mydict = {1:'one', 2:'two', 3:'three', 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [19]:
mydict[4]

'four'

In [20]:
mydict.get(1)

'one'

In [2]:
mydict1 = {'name':'dogu', 'id':74123, 'birthday':1991, 'job':'architect'}
mydict1

{'name': 'dogu', 'id': 74123, 'birthday': 1991, 'job': 'architect'}

In [3]:
mydict1['name']

'dogu'

In [4]:
mydict1.get('job')

'architect'

In [5]:
mydict1 = {'name':'dogu', 'id':74123, 'birthday':1991, 'job':'architect'}
mydict1

{'name': 'dogu', 'id': 74123, 'birthday': 1991, 'job': 'architect'}

In [6]:
mydict1['birthday'] = 1992
mydict1['job'] = 'engineer'
mydict1

{'name': 'dogu', 'id': 74123, 'birthday': 1992, 'job': 'engineer'}

In [7]:
dict1 = {'birthday':1995}
mydict1.update(dict1)
mydict1

{'name': 'dogu', 'id': 74123, 'birthday': 1995, 'job': 'engineer'}

In [8]:
mydict1['city'] = 'Istanbul'
mydict1

{'name': 'dogu',
 'id': 74123,
 'birthday': 1995,
 'job': 'engineer',
 'city': 'Istanbul'}

In [9]:
mydict1.pop('job')
mydict1

{'name': 'dogu', 'id': 74123, 'birthday': 1995, 'city': 'Istanbul'}

In [10]:
mydict1.popitem()

('city', 'Istanbul')

In [11]:
mydict1

{'name': 'dogu', 'id': 74123, 'birthday': 1995}

In [12]:
del[mydict1['id']]
mydict1

{'name': 'dogu', 'birthday': 1995}

In [13]:
mydict1.clear()
mydict1

{}

In [14]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

In [15]:
mydict1 = {'name':'dogu', 'id':74123, 'birthday':1991, 'address':'Istanbul', 'job':'architect'}
mydict1

{'name': 'dogu',
 'id': 74123,
 'birthday': 1991,
 'address': 'Istanbul',
 'job': 'architect'}

In [16]:
for i in mydict1:
    print(i, ':', mydict1[i])

name : dogu
id : 74123
birthday : 1991
address : Istanbul
job : architect

In [17]:
for i in mydict1:
    print(mydict1[i])

dogu
74123
1991
Istanbul
architect

In [18]:
double = {i:i*2 for i in range(10)}
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [19]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [20]:
key = ['one', 'two', 'three', 'four', 'five']
value = [1, 2, 3, 4, 5]

mydict = {k:v for k,v in zip(key, value)}
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [22]:
mydict1 = {'a':10, 'b':20, 'c':30, 'd':40, 'e':50}
mydict1 = {k:v/10 for k,v in mydict1.items()}
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [ ]:
#Sets

In [23]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [24]:
len(myset)

5

In [25]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [27]:
myset1 = {1.79, 2.08, 3.99, 4.56, 5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [28]:
myset3 = {10, 20, "merhaba", (11,22,32)}
myset3

{(11, 22, 32), 10, 20, 'merhaba'}

In [29]:
myset3 = {10, 20, "merhaba", [11,22,32]}
myset3

TypeError: unhashable type: 'list'

In [30]:
myset4 = set()
print(type(myset4))

<class 'set'>

In [31]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

In [33]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in enumerate(myset):
    print(i)

(0, 'one')
(1, 'seven')
(2, 'five')
(3, 'two')
(4, 'six')
(5, 'three')
(6, 'eight')
(7, 'four')

In [34]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [35]:
myset.add('NINE')
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [36]:
myset.update(['TEN', 'ELEVEN', 'TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [37]:
myset.remove('NINE')
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [38]:
myset.discard('TEN')
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [39]:
myset.clear()
myset

set()

In [40]:
del myset
myset

NameError: name 'myset' is not defined

In [41]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
A.update(B, C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [47]:
#intersection
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [48]:
A & B

{4, 5}

In [49]:
A.intersection(B)

{4, 5}

In [50]:
A.intersection_update(B)
A

{4, 5}

In [51]:
#difference (fark)
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

A - B

{1, 2, 3}

In [52]:
A.difference(B)

{1, 2, 3}

In [53]:
B - A

{6, 7, 8}

In [54]:
B.difference(A)

{6, 7, 8}

In [56]:
B.difference_update(A)
B

{6, 7, 8}

In [57]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [58]:
x = B.difference(A)

In [59]:
x

{6, 7, 8}

In [60]:
B

{4, 5, 6, 7, 8}

In [61]:
#symmetric difference
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

A ^ B

{1, 2, 3, 6, 7, 8}

In [62]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [63]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [64]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [65]:
B.issubset(A)

True

In [66]:
A.issuperset(B)

True

In [67]:
C.isdisjoint(A)

True

In [68]:
B.isdisjoint(A)

False

In [69]:
A = {1,2,3,4,5,6,7,8,9}

In [70]:
sum(A)

45

In [71]:
max(A)

9

In [72]:
min(A)

1

In [73]:
len(A)

9

In [74]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [75]:
D = sorted(A, reverse = True)

In [76]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [77]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]