In [1]:
list1 = []

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2 = [10, 30, 60]

In [6]:
list3 = [10.77, 30.66, 60.89]

In [7]:
list4 = ['one', 'two', 'three']

In [8]:
list5 = ['Dogu', 25, [50, 100], [150, 90]] #nested (iç içe) listeler

In [9]:
list6 = [100, 'Dogu', 17.765]

In [10]:
list7 = ['Dogu', 25, [50, 100], [150, 90], {'John', 'David'}]

In [11]:
len(list6)

3

In [12]:
#Liste Dizinleme (Indexing)

list2[0] #Zero-based indexing

10

In [13]:
list4[0]

'one'

In [14]:
list4[0][0]

'o'

In [15]:
list4[-1]

'three'

In [16]:
list5[-1]

[150, 90]

In [17]:
#liste dilimleme (slicing)

mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

mylist[0:3]

['one', 'two', 'three']

In [18]:
mylist[2:5]

['three', 'four', 'five']

In [19]:
mylist[:3]

['one', 'two', 'three']

In [20]:
mylist[:2]

['one', 'two']

In [21]:
mylist[-3:]

['six', 'seven', 'eight']

In [22]:
mylist[-2:]

['seven', 'eight']

In [23]:
mylist[-1]

'eight'

In [24]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [25]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [26]:
#ekleme, çıkarma, değiştirme metotları

mylist.append('nine')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [27]:
mylist.insert(9, 'ten')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [28]:
mylist.insert(0, 'zero')
mylist

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [29]:
mylist.insert(1, 'ONE')
mylist

['zero',
 'ONE',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [30]:
mylist.remove('ONE')
mylist

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [31]:
mylist.pop()
mylist

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine']

In [32]:
mylist.pop(8)
mylist

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'nine']

In [33]:
del mylist[7]
mylist

['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'nine']

In [35]:
a = mylist[7]
print(a)

nine

In [34]:
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'three', 'four', 'five', 'six', 'nine']

In [36]:
mylist.clear()
mylist

[]

In [37]:
del mylist
mylist

NameError: name 'mylist' is not defined

In [38]:
#listeleri kopyalama

mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [39]:
mylist1 = mylist

In [40]:
id(mylist), id(mylist1)

(3089765677824, 3089765677824)

In [41]:
mylist2 = mylist.copy()

In [42]:
id(mylist2)

3089766050368

In [43]:
mylist[0] = 1
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [44]:
mylist1

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [45]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [49]:
#listeleri birleştirme (join)

list1 = ['one', 'two', 'three', 'four', 'five']
list2 = ['five', 'six', 'seven', 'eight']

In [50]:
list3 = list1 + list2
list3

['one', 'two', 'three', 'four', 'five', 'five', 'six', 'seven', 'eight']

In [51]:
list1.extend(list2)
list1

['one', 'two', 'three', 'four', 'five', 'five', 'six', 'seven', 'eight']

In [52]:
#list üyelikleri (membership)

list1

['one', 'two', 'three', 'four', 'five', 'five', 'six', 'seven', 'eight']

In [53]:
'one' in list1

True

In [54]:
'ten' in list1

False

In [55]:
if 'three' in list1:
    print('three listede var')
else:
    print('three listede yok')

three listede var

In [57]:
if 'eleven' in list1:
    print('eleven listede var')
else:
    print('eleven listede yok')

eleven listede yok

In [58]:
#Liste üzerinde reverse & sort

list1 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [59]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [60]:
list1.reverse()
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [61]:
list1 = list1[::-1]
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [66]:
mylist3 = [9, 5, 2, 99, 12, 88, 34]
mylist3.sort()
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [67]:
mylist = [9, 5, 2, 99, 12, 88, 34]
mylist3.sort(reverse = True)
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [68]:
mylist4 = [88, 65, 33, 21, 11, 98]
sorted(mylist4)

[11, 21, 33, 65, 88, 98]

In [69]:
mylist4

[88, 65, 33, 21, 11, 98]

In [70]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [72]:
list1 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [74]:
for i in list1:
    print(i, end = '  ')

one  two  three  four  five  six  seven  eight

In [75]:
for i in enumerate(list1):
    print(i, end = '  ')

(0, 'one')  (1, 'two')  (2, 'three')  (3, 'four')  (4, 'five')  (5, 'six')  (6, 'seven')  (7, 'eight')

In [76]:
list10 = ['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10.count('one')

3

In [77]:
list10.count('two')

2

In [78]:
list10.count('four')

1

In [79]:
#all() - any() metotları
#all() -> listedeki tüm elemanlar True ise all() metodu True, değilse False döndürür.
#any() -> listedeki herhangi bir eleman True ise any() metodu True, değilse False döndürür.

In [80]:
L1 = [1, 2, 3, 4, 0]
all(L1)

False

In [82]:
any(L1)

True

In [83]:
L2 = [1, 2, 3, 4, True, False]
all(L2)

False

In [84]:
any(L2)

True

In [85]:
L3 = [1, 2, 3, True]
all(L3)

True

In [86]:
any(L3)

True

In [87]:
tup1 = ()

In [88]:
tup2 = (10, 30, 60)

In [89]:
tup3 = (10.77, 30.66, 60.89)

In [90]:
tup4 = ('one', 'two', 'three')

In [91]:
tup5 = ('Dogu', 25, (50, 100), (150, 90))

In [92]:
tup6 = (100, 'Dogu', 17.765)

In [93]:
tup7 = ('Dogu', 25, [50, 100], [150, 90], {'John', 'David'}, (99, 22, 33))

In [94]:
len(tup7)

6

In [95]:
tup2[0]

10

In [96]:
tup4[0]

'one'

In [97]:
tup4[0][0]

'o'

In [98]:
tup4[-1]

'three'

In [99]:
tup5[-1]

(150, 90)

In [100]:
#tuple dilimleme (slicing)

mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [101]:
mytuple[0:3]

('one', 'two', 'three')

In [102]:
mytuple[2:5]

('three', 'four', 'five')

In [103]:
mytuple[:3]

('one', 'two', 'three')

In [104]:
mytuple[:2]

('one', 'two')

In [105]:
mytuple[-3:]

('six', 'seven', 'eight')

In [106]:
mytuple[-2:]

('seven', 'eight')

In [113]:
list1 = [10, 12, 12.213, 21.31]
x = float(input("lütfen bir sayı giriniz: "))
if x in list1:
    print(f"{x} listede var")
else:
    print("{} listede yok".format(x))

lütfen bir sayı giriniz: 1980
1980.0 listede yok

In [116]:
mytuple = ("str") #mystr = 'str'
print(type(mytuple))

<class 'tuple'>

In [117]:
mytuple2 = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [119]:
mytuple2[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')