In [1]:
def myfunc():
    print("Hello Python Lovers")
    
myfunc()

Hello Python Lovers

In [2]:
def details(name, userid, country):
    print('Name :-', name)
    print('User ID is :-', userid)
    print('Country :-', country)
    
details('Dogu', 'dogu123', 'Turkiye')

Name :- Dogu
User ID is :- dogu123
Country :- Turkiye

In [4]:
def square(n):
    n = n*n
    return n

square(22)

484

In [6]:
def even_odd(num):
    """even_odd fonksiyonu : Bu fonksiyon bir sayının tek veya çift olup olmadığını test eder""" #docstring
    if num % 2 == 0:
        print(num, ' is even number')
    else:
        print(num, ' is odd number')
        
even_odd(7)
even_odd(4)
print(even_odd.__doc__)

7  is odd number
4  is even number
even_odd fonksiyonu : Bu fonksiyon bir sayının tek veya çift olup olmadığını test eder

In [15]:
def fullname(firstname, middlename, lastname):
    fullname = "{} {} {}".format(firstname, middlename, lastname)
    print(fullname)
    
fullname('Dogu', '' , 'Sirt')

Dogu  Sirt

In [16]:
def fullname(firstname, middlename, lastname):
    fullname = "{} {} {}".format(firstname, middlename, lastname)
    print(fullname)
    
fullname(lastname = 'Sirt', middlename = 'Bati', firstname = 'Dogu')

Dogu Bati Sirt

In [17]:
fullname('Dogu')

TypeError: fullname() missing 2 required positional arguments: 'middlename' and 'lastname'

In [20]:
def myfunc(city = 'Istanbul'):
    print('En kalabalık şehir :- ', city)
    
myfunc('Mexico City')

En kalabalık şehir :-  Mexico City

In [21]:
var1 = 100 

def myfunc():
    print(var1)
    
myfunc()
print(var1)

100
100

In [24]:
def myfunc1():
    var2 = 10 #yerel kapsamlı değişken
    print(var2)
    
def myfunc2():
    #var2 = 22
    print(var2)
    
myfunc1()
myfunc2()

10

NameError: name 'var2' is not defined

In [25]:
var1 = 100

def myfunc():
    var1 = 99
    print(var1)
    
myfunc()
print(var1)

99
100

In [26]:
list1 = [11, 22, 33, 44, 55]

def myfunc(list1):
    del list1[0]
    
print('"List1" fonksiyonu çağırmadan önce :- ', list1)
myfunc(list1) #pass by reference -> fonksiyon içerisindeki bir parametredeki herhangi bir değişim, çağıran fonksiyon içerisinde 
#de yansır. 
print('"List1" fonksiyonu çağırdıktan sonra :- ', list1)

"List1" fonksiyonu çağırmadan önce :-  [11, 22, 33, 44, 55]
"List1" fonksiyonu çağırdıktan sonra :-  [22, 33, 44, 55]

In [27]:
list1 = [11, 22, 33, 44, 55]

def myfunc(list1):
    list1.append(100)
    
print('"List1" fonksiyonu çağırmadan önce :- ', list1)
myfunc(list1) 
print('"List1" fonksiyonu çağırdıktan sonra :- ', list1)

"List1" fonksiyonu çağırmadan önce :-  [11, 22, 33, 44, 55]
"List1" fonksiyonu çağırdıktan sonra :-  [11, 22, 33, 44, 55, 100]

In [28]:
list1 = [11, 22, 33, 44, 55]

def myfunc(list1):
    list1 = [10, 100, 1000, 10000]
    
print('"List1" fonksiyonu çağırmadan önce :- ', list1)
myfunc(list1) 
print('"List1" fonksiyonu çağırdıktan sonra :- ', list1)

"List1" fonksiyonu çağırmadan önce :-  [11, 22, 33, 44, 55]
"List1" fonksiyonu çağırdıktan sonra :-  [11, 22, 33, 44, 55]

In [46]:
def swap(a, b):
    a, b = b, a
    return a, b
    
a = 10
b = 20
swap(a, b)

(20, 10)

In [53]:
def factorial(num): # 4! = 4*3*2*1*0!
    if num <= 1 :
        return 1
    else:
        return num * factorial(num - 1)
    
factorial(10)

3628800

In [55]:
def add(num):
    if num == 0:
        return 0
    else:
        return num + add(num - 1)

add(10)

55

In [60]:
def fibonacci(num):
    if num <= 1:
        return num
    if num == 2:
        return 1
    else:
        return(fibonacci (num-1) + fibonacci(num-2))
    
nums = int(input("Kaç adet fibonacci sayısı üretmek istiyorsunuz? - "))

for i in range(nums):
    print(fibonacci(i), end=' ')

Kaç adet fibonacci sayısı üretmek istiyorsunuz? - 10
0 1 1 2 3 5 8 13 21 34